<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

</head>
<body>

<h1>Pepe Link<img src="{{url_for('static', filename='hat.png')}}" /></h1>  <h3>{{ logged_info.logged_user }}  </h3>

<h3><a href="/new_post">Новый мем!</a> <a href="/home"> Главная</a> <a href="/user">Профиль</a>   <a href="/logout">{{logged_info.login_button}}</a>  <a href="/register">{{logged_info.register_button}}</a>  <a href="/logout">{{logged_info.logout_button}}</a> </h3>


<div>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <img src = "{{ url_for('static', filename=post.filename) }}" />
        <h6>Дата: {{ post.date.date() }}</h6>
        <h6>Автор: {{ users[post.user_id-1].username }}</h6>
        <h6>Лайки: {{ post.likes }}</h6>


    {% endfor %}
</div>
</body>
</html>