<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

</head>




<body>

<h1>Pepe Link<img src="{{url_for('static', filename='hat.png')}}" /></h1>

<h3>
{% if current_user.is_authenticated %}
    <h3> Авторизован {{ current_user }} </h3>
{% else %}
    <h3> Вы не авторизованы </h3>
{% endif %}
</h3>



{% if current_user.is_authenticated %}
    <h3><a href="/new_post">Новый мем!</a> <a href="/home"> Главная</a> <a href="/user/{{current_user.get_id()}}">Профиль</a> </h3>
    <a href="/logout">Выход</a>
{% else %}
    <a href="/login">Вход</a>
    <a href="/register">Регистрация</a>
{% endif %}



<div>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <img src = "{{ url_for('static', filename=post.filename) }}" />
        <h6>Дата: {{ post.date.date() }}</h6>
        <h6>Автор: {{ users[post.user_id-1].username }}</h6>
        <h6>Лайки: {{ post.likes.count() }}</h6>
        {% if current_user.is_authenticated %}
            {% if current_user.has_liked_post(post) %}
                <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
            {% else %}
                <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
            {% endif %}
        {% endif %}

    {% endfor %}
</div>
</body>
</html>