<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>РЕДАКТИРОВАНИЕ ПРОФИЛЯ</h1>
<form method="post">
        <input type="text" name="username" id="username" placeholder="username" value="{{ user.username }}"><br>

        <br>
        <input type="text" name="age" id="age" placeholder="Возраст" value="{{ profile_data.age }}"><br>
        <p><select size="2" multiple name="gender">
            <option disabled>Пол</option>
            <option selected value="male">Мужской</option>
            <option value="female">Женский</option>
        </select></p>

        <input type="text" name="hobby" id="hobby" placeholder="Хобби" value="{{ profile_data.hobby}}"><br>
        <input type="text" name="contacts" id="contacts" placeholder="Контактная информация" value="{{profile_data.contacts}}"><br>




        <input type="submit" value="Сохранить"><br>
    </form>

    {{message}}

</body>
</html>