<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>


    <h1>РЕГИСТРАЦИЯ</h1>
    <form method="post">
        <input type="text" name="username" id="username" placeholder="username"><br>
        <input type="text" name="password" id="password" placeholder="password"><br>
        <input type="text" name="email" id="email" placeholder="email"><br>

        <br>
        <input type="text" name="age" id="age" placeholder="Возраст"><br>
        <p><select size="2" multiple name="gender">
            <option disabled>Пол</option>
            <option selected value="male">Мужской</option>
            <option value="female">Женский</option>
        </select></p>

        <input type="text" name="hobby" id="hobby" placeholder="Хобби"><br>
        <input type="text" name="contacts" id="contacts" placeholder="Контактная информация"><br>




        <input type="submit" value="Зарегистрироваться"><br>
    </form>

    {{message}}
</body>
</html>