{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}

        {% if current_user.is_authenticated and logged_user.is_admin %}
            <br>
            <div align="center"><a href="/admin_panel"> Админ панель</a></div>
        {% endif %}

    {% for post in posts %}

    <div class="post">
        <div align="center"><h2>{{ post.title }}</h2></div>
        <img class="post-picture" src = "{{ url_for('static', filename=post.filename) }}" />




        <div class="post-footer">
            <div class="post-like">
                {% if current_user.is_authenticated %}
                    {% if current_user.has_liked_post(post) %}
                        <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}"><img src="{{url_for('static', filename='liked.png')}}" /> {{ post.likes.count() }}</a>
                    {% else %}
                        <a href="{{ url_for('like_action', post_id=post.id, action='like') }}"><img src="{{url_for('static', filename='like.png')}}" />{{ post.likes.count() }}</a>
                    {% endif %}
                {% else %}
                    <img src="{{url_for('static', filename='like.png')}}" /> {{ post.likes.count() }}
                {% endif %}

            </div>

            <div class="post-data">
                {{ post.date.date() }} | <a href="/user/{{post.user_id}}">{{ users.get(post.user_id).username }}</a>
            </div>

        </div>
        <div align="center">
        {% if current_user.is_authenticated and users.get(current_user.get_id()).is_admin %}
            <a href="/delete/{{ post.id }}">Удалить пост</a>
        {% endif %}
        </div>



    </div>
    {% endfor %}

{% endblock %}