{% extends 'base.html' %}

{% block title %}Редактирование профиля{% endblock %}

{% block body %}

<div align="center">
    <h1>РЕДАКТИРОВАНИЕ ПРОФИЛЯ</h1>
    <div class="form-border">
    <form method="post" action="" enctype=multipart/form-data>

        <div class="form-text">Имя:<br></div>
        <input type="text" name="username" id="username" value="{{ user.username }}"><br>

        <div class="form-text">Возраст:<br></div>
        <input type="text" name="age" id="age" value="{{ profile_data.age }}"><br>

        <div class="form-text">Пол:<br></div>
        <select size="2" class="form-submit" multiple name="gender">
            <option selected value="male">Мужской</option>
            <option value="female">Женский</option>
        </select>
        <div class="form-text">Хобби:<br></div>
        <input type="text" name="hobby" id="hobby"value="{{ profile_data.hobby}}"><br>
        <div class="form-text">Контактная информация:<br></div>
        <input type="text" name="contacts" id="contacts" placeholder="Контактная информация" value="{{profile_data.contacts}}"><br>

        <div class="form-text">Фото профиля:<br></div>
        <input type=file name=file>


        <input type="submit" class="form-submit" value="Сохранить"><br>
    </form>
    </div>



    {{message}}
</div>
{% endblock %}